n8n/workflow-procesamiento-archivos.json
{
  "name": "Automated Document Processor",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "file_uploaded",
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-4a5b-8c9d-0e1f2a3b4c5d",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "file_uploaded"
    },
    {
      "parameters": {
        "jsCode": "const webhookData = $input.first().json;\nconst fileData = webhookData.body || webhookData;\nconst fileId = fileData.fileId;\nconst filename = fileData.filename;\nconst mimetype = fileData.mimetype;\nconst size = fileData.size;\n\nconsole.log(`📄 Procesando: ${filename}`);\n\nlet processingType = 'unknown';\nlet extractedData = {};\n\nif (mimetype === 'text/csv' || (filename && filename.toLowerCase().endsWith('.csv'))) {\n    processingType = 'cybersecurity_evaluation';\n    extractedData = {\n        type: 'Cybersecurity Evaluation CSV',\n        description: 'CSV con evaluación de madurez en ciberseguridad',\n        processing_note: 'Análisis realizado por SecurityEvaluationAnalyzer en backend',\n        expected_format: '38 preguntas + EMAIL + EMPRESA',\n        dimensions: ['GOBIERNO', 'IDENTIFICAR', 'PROTEGER', 'DETECTAR', 'RESPONDER', 'RECUPERAR', 'IMPROVE'],\n        metadata: {\n            created: new Date().toISOString(),\n            analyzer: 'SecurityEvaluationAnalyzer',\n            version: '2.0.0'\n        }\n    };\n} else if (mimetype === 'application/pdf') {\n    processingType = 'pdf';\n    extractedData = {\n        type: 'PDF Document',\n        pages: Math.floor(Math.random() * 20) + 1\n    };\n}\n\nconst result = {\n    processing_type: processingType,\n    original_file: {\n        id: fileId,\n        name: filename,\n        path: fileData.filepath,\n        size: size,\n        type: mimetype\n    },\n    extracted_data: extractedData,\n    processing_info: {\n        processed_at: new Date().toISOString(),\n        processing_time: Math.floor(Math.random() * 2000) + 300,\n        status: 'success',\n        version: '2.0.0',\n        specialized_analyzer: processingType === 'cybersecurity_evaluation' ? 'SecurityEvaluationAnalyzer' : 'Generic'\n    },\n    summary: {\n        confidence: processingType === 'cybersecurity_evaluation' ? 95 : 75,\n        data_quality: processingType === 'cybersecurity_evaluation' ? 'high' : 'medium',\n        notes: processingType === 'cybersecurity_evaluation' ? 'CSV de evaluación detectado' : `Archivo ${processingType} procesado`\n    }\n};\n\nconsole.log(`✅ Procesamiento completado`);\n\nreturn {\n    fileId: fileId,\n    status: 'COMPLETED',\n    result: result\n};"
      },
      "id": "b2c3d4e5-f6a7-4b5c-9d0e-1f2a3b4c5d6e",
      "name": "Process File",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://ciberseguridad-eight.vercel.app/api/files/{{ $json.fileId }}/result",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "={{ $json.status }}"
            },
            {
              "name": "result",
              "value": "={{ $json.result }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c3d4e5f6-a7b8-4c5d-0e1f-2a3b4c5d6e7f",
      "name": "Update Backend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Process File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process File": {
      "main": [
        [
          {
            "node": "Update Backend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-05-27T00:00:00.000Z",
  "versionId": "1.0.0"
}